# https://docs.npmjs.com/cli/v11/using-npm/config#config-settings
# https://docs.npmjs.com/cli/v11/using-npm/config#environment-variables
# https://docs.npmjs.com/cli/v11/using-npm/config#default-configs

registry=https://registry.npmjs.org/ # Registry
allow-git=none # Prevents installing packages directly from git repositories (although rare)
ignore-scripts=true # Disables running pre/post install scripts from packages
min-release-age=7 # Only allows packages published at least 7 days ago
package-lock=true # Ensures a package-lock.json is always generated and used
strict-ssl=true # Make npm validate the SSL certificate of the registry to prevent MitM attacks
engine-strict=true # Enforces the engines field in package.json, failing if Node/npm version doesn't match
git-tag-version=false # Prevents npm from creating a git tag when running npm version
save-exact=true # Saves dependencies with exact versions instead of using a semver range
update-notifier=false # Disables the prompt notifying about new npm versions