.svg-container {
  position: relative;
  width: 12rem;
  height: 6.5rem;
  transform: translate(15px, 15px);
}

.svg-container-Fall {
  transform: translate(35px, 10px);
}

.svg-container-Spring {
  transform: translate(20px, 15px);
}

.sclera {
  width: 1rem;
}

.Winter {
  transform: translate(1rem, 0.7rem);
}

.Spring {
  transform: translate(0.9rem, 0.65rem);
}

.Fall {
  transform: translate(0.6rem, 0.5rem);
}

.Summer {
  transform: translate(0.55rem, 0.5rem);
}

.eyeWrapper {
  position: relative;
  display: inline-block;
}

.finishedSparkle {
  pointer-events: none;
}

.kawaiiLines {
  position: absolute;
  pointer-events: none;
  width: 51px;
}

.kawaiiLines-Winter {
  bottom: -10px;
  left: 35%;
  transform: translateX(-50%);
}

.kawaiiLines-Spring {
  bottom: -20px;
  left: 35%;
  transform: translateX(-50%);
}

.kawaiiLines-Fall {
  bottom: -10px;
  left: 40%;
  transform: translateX(-50%);
}

.kawaiiLines-Summer {
  bottom: -10px;
  left: 35%;
  transform: translateX(-50%);
}

.rightEyeContainer .kawaiiLines {
  transform: translateX(-50%) scaleX(-1);
}
