.svg-container {
  position: relative;
  width: 12rem;
  height: 6.5rem;
  transform: translate(15px, 15px);
}

.svg-container-Fall {
  transform: translate(35px, 10px);
}

.svg-container-Spring {
  transform: translate(20px, 15px);
}

.sclera {
  width: 1rem;
}

.Winter {
  transform: translate(1.3rem, 0.6rem);
}

.Spring {
  transform: translate(0.9rem, 0.6rem);
}

.Fall {
  transform: translate(0.6rem, 0.5rem);
}

.Summer {
  transform: translate(0.6rem, 0.6rem);
}
