.informationTable {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.informationTable table {
  width: 50%;
  font-weight: bold;
  font-size: 0.55rem;
  border-collapse: separate;
  border-spacing: 0 5px;
  font-family: "DMSans";
}

.informationTable td {
  height: 1.75rem;
  max-width: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #d9d9d9;
  border: none;
  font-size: 0.75rem;
  background-color: #020b14;
  color: #c5d1eb;
}

.informationTable .left {
  text-align: left;
  border-radius: 10px 0 0 10px;
  font-weight: bolder;
}

.informationTable .right {
  text-align: right;
  border-radius: 0 10px 10px 0;
  padding-right: 2px;
}

.informationTable .header {
  color: #031121;
}
